/* 
font-family: 'Fredericka the Great', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Chango', cursive; */



body {
font-family:  'Fredericka the Great', cursive;
font-size: 35px;
font-display:center;
background: url("../images/634-2200x1467.jpg");
}

.jumbotron {
  font-size: 40px;
  background-color: rgb(250, 246, 248);
  text-align: center;
  color: rgb(185, 223, 247);
  border-block-color: rgb(186, 233, 186);
}

.lead {
  font-size: 45px;
  font-family: 'Fredericka the Great', cursive;
  color: rgb(241, 7, 7);
  margin: 100px;
  
}
.container {
  display: inline-block;
  position: relative;
  font-family: 'Fredericka the Great', cursive;
}

.form-group {
  background-color: rgba(32, 95, 37, 0.973);
  opacity: .7;
  text-align: left;
  /* margin: 15px; */
  font-family: 'Emilys Candy', cursive;
  vertical-align: 35px;
  color: floralwhite;
}
.form-control {

  padding: 5px;
}
#exampleFormControlInput {
  font-size: 1.5em;

  /* opacity: .1; */
  margin-inline: 100;

}